@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Arabic:wght@100;200;300;400;500;600;700&display=swap");
$mainFont: "IBM Plex Sans Arabic", sans-serif;

$s: right;
$e: left;

$n: 1;
$p: -1;

$e-dir: false;
body {
  direction: rtl;
  font-family: $mainFont;
}
