.banner {
  background-color: #1d1f20;
  width: calc(100% - 48px);
  color: white;
  text-align: center;
  @extend .center_flex;
  position: relative;
  height: 44px;
  margin-inline: auto;
  margin-block: 16px;
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
  @include responsive(max, 320) {
    padding-#{$e}: 20px;
  }
  .btn_close {
    position: absolute;
    #{$e}: 0;
    @include responsive(max, 425) {
      #{$e}: -5px;
      top: 10px;
    }
  }
}

.hero_sec {
  text-align: center;
  @include responsive(max, 425) {
    padding-inline: 20px;
  }
  .badge_container {
    width: fit-content;
    margin: auto;
    margin-top: 80px;
    margin-bottom: 32px;
    background-color: #ce317829;
    color: $main_color;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    border-radius: 100px;
    padding: 8px 4px;
    padding-right: 26px;
    position: relative;
    &::after {
      content: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNSIgaGVpZ2h0PSI4IiB2aWV3Qm94PSIwIDAgNSA4IiBmaWxsPSJub25lIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPgo8cGF0aCBkPSJNMC43NSAwLjc1TDQuMjUgNEwwLjc1IDcuMjUiIHN0cm9rZT0iIzMxMzczRCIgc3R5bGU9InN0cm9rZTojMzEzNzNEO3N0cm9rZTpjb2xvcihkaXNwbGF5LXAzIDAuMTkyMiAwLjIxNTcgMC4yMzkyKTtzdHJva2Utb3BhY2l0eToxOyIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2UtbGluZWpvaW49InJvdW5kIi8+Cjwvc3ZnPgo=");

      position: absolute;
      #{$e}: 13px;
    }
    .bg_pink {
      background-color: #ce3178;
      border-radius: 100px;
      color: white;
      padding-inline: 8px;
      padding-block: 2px;
      display: inline-block;
    }
  }

  .title {
    font-size: 92px;
    font-weight: 700;
    line-height: 88px;
    text-align: center;
    color: #1d1f20;
    margin-bottom: 32px;
    .bg_pink {
      color: #ce3178;
      font-size: 92px;
      font-weight: 700;
      line-height: 88px;
    }
  }
  .subtitle {
    font-size: 22px;
    font-weight: 400;
    line-height: 32px;
    color: $main_color;
    width: 40%;
    margin: auto;
    margin-bottom: 32px;
    @include responsive(max, 1024) {
      width: 80%;
    }
    @include responsive(max, 425) {
      width: 100%;
    }
  }
  .btns_container {
    justify-content: center;
    gap: 12px;
    margin-bottom: 75px;
    .btn_talk {
      border: 1px solid #edeef0;
      border-radius: 12px;
      padding: 12px 16px;
      font-size: 16px;
      font-weight: 500;
      line-height: 24px;
      color: $main_color;
    }
    .btn_start {
      border: 1px solid #555e67;
      border-radius: 12px;
      background-color: #1d1f20;
      padding: 12px 16px;
      font-size: 16px;
      font-weight: 500;
      line-height: 24px;
      color: white;
    }
  }
}

.video_sec {
  margin-bottom: 64px;
  .video_container {
    height: 668px;
    @include responsive(max, 425) {
      height: 350px;
    }
    .iframe_container {
      width: 916px;
      height: 541px;
      margin: auto;
      padding-top: 63px;
      padding-bottom: 42px;
      @include responsive(max, 1024) {
        width: 90%;
        height: 90%;
      }
      iframe {
        backdrop-filter: blur(64px);
        box-shadow: 0px 2px 14px 0px #00000040;
        background-color: transparent;
      }
    }
  }
}

.clients_logos_sec {
  margin-bottom: 120px;
  padding-block: 64px;
  .logos_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    row-gap: 44px;
    column-gap: 88px;
    @include responsive(max, 425) {
      justify-content: center;
      row-gap: 22px;
      column-gap: 44px;
      padding-inline: 10px;
    }
  }
}

.about_value_crm_sec {
  margin-bottom: 152px;
  .wrapper {
    display: flex;
    gap: 41px;
    @include responsive(max, 425) {
      flex-direction: column;
    }
  }
  .value_container {
    .title {
      font-size: 52px;
      font-weight: 700;
      line-height: 78px;
      color: #1d1f20;
      width: 70%;
      margin-bottom: 16px;
      @include responsive(max, 425) {
        width: 100%;
      }
    }
    .subtitle {
      font-size: 22px;
      font-weight: 400;
      line-height: 32px;
      color: #31373d;
      margin-bottom: 64px;
    }
    .cards_container {
      .card_container {
        border-radius: 22px;
        background-color: #f5f5f5;
        box-shadow: 0px 10px 60px 0px #99999912;
        padding: 24px;
        width: 94%;
        margin: auto;
        .card_header {
          display: flex;
          align-items: center;
          gap: 24px;
          margin-bottom: 24px;
          .icon_container {
            width: 66px;
            height: 66px;
            border-radius: 12px;
            background-color: #ce3178;
            @extend .center_flex;
          }
        }
        .card_title {
          font-size: 24px;
          font-weight: 700;
          line-height: 31.92px;
          color: #202b36;
        }
        .card_subtitle {
          font-size: 16px;
          font-weight: 400;
          line-height: 24px;
          color: #202b3680;
        }
        &.middle_card {
          background-color: #ce3178;
          .card_title {
            color: white;
          }
          .icon_container {
            background-color: white;
          }
          .card_subtitle {
            color: white;
          }
        }
      }
    }
  }
}

.more_clientes_sec {
  background-color: #232529;
  padding-block: 116px;
  .title {
    font-size: 52px;
    font-weight: 700;
    line-height: 58px;
    color: #9098a0;
    margin-bottom: 16px;
  }
  .subtitle {
    font-size: 22px;
    font-weight: 400;
    line-height: 32px;
    color: #edeef0;
    width: 90%;
    margin-bottom: 64px;
  }
  .row {
    row-gap: 24px;
  }
  .card_container {
    outline: 1px solid #31373d;
    border: 1px solid #4b4f58;
    outline-offset: 4px;
    border-radius: 24px;
    padding: 40px;
    width: 95%;
    margin: auto;
    .img_container {
      margin-bottom: 18px;
      img {
        width: 100%;
      }
    }
    .card_title {
      font-size: 22px;
      font-weight: 500;
      line-height: 32px;
      color: #edeef0;
      margin-bottom: 6px;
    }
    .card_subtitle {
      font-size: 16px;
      font-weight: 400;
      line-height: 24px;
      color: #9098a0;
      height: 48px;
    }
  }
}

.client_testiomonial_sec {
  .subtitle {
    margin-bottom: 32px;
  }
  .btn_more_clients {
    border: 1px solid #31373d;
    border-radius: 12px;
    padding: 12px 16px;
    color: #edeef0;
    width: fit-content;
    margin-bottom: 64px;
  }

  .testimonial_cards_container {
    .testimonial_card_container {
      outline: 1px solid #31373d;
      border: 1px solid #4b4f58;
      outline-offset: 4px;
      border-radius: 24px;
      padding: 24px;
      .testimonial_header_container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 24px;
      }
      .testimonial_header {
        display: flex;
        align-items: center;
        gap: 8px;
        .client_name {
          font-size: 12px;
          font-weight: 500;
          line-height: 18px;
          color: #9098a0;
        }
        .client_title {
          font-size: 12px;
          font-weight: 400;
          line-height: 18px;
          color: #555e67;
        }
      }
      .client_testimonial_content {
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        color: #edeef0;
        margin-bottom: 24px;
      }
      .date {
        font-size: 12px;
        font-weight: 500;
        line-height: 16px;
        color: #555e67;
      }
    }
  }
}
