.navbar {
  display: flex;
  align-items: center;
  height: 67px;
  margin-inline: 94px;
  padding: 0;
  @include responsive(max, 768) {
    margin-inline: 20px;
  }

  @include responsive(max, 380) {
    flex-wrap: nowrap;
    margin-inline: 10px;
  }
  .navbar-brand {
    @include responsive(max, 380) {
      width: 50%;
    }

    img {
      @include responsive(max, 380) {
        width: 100%;
        height: auto;
      }
    }
  }

  .navbar-nav {
    display: flex;
    align-items: center;
    flex-direction: row;
    @include responsive(max, 1010) {
      display: none;
    }
    .nav-link {
      padding: 8px 16px;
      font-size: 16px;
      font-weight: 400;
      line-height: 24px;
      color: #1d1f20;
    }
  }
  .navbar_container {
    display: flex;
    align-items: center;
    gap: 64px;
    height: 100%;
    @include responsive(max, 1100) {
      gap: 1%;
    }
  }
  .lang_btns_container {
    display: flex;
    align-items: center;
    gap: 27px;

    @include responsive(max, 1100) {
      gap: 0;
    }
    .btn_switch_lang {
      padding: 8px;
    }

    .btns_container {
      display: flex;
      align-items: center;
      gap: 12px;
      @include responsive(max, 1010) {
        display: none;
      }
      .btn_login {
        border: 1px solid #edeef0;
        padding: 8px 16px;
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        color: #31373d;
      }
      .btn_start {
        background-color: #ce3178;
        border: 1px solid #ce31783d;
        padding: 8px 16px;
        color: white;
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
      }
    }
  }

  .bars {
    display: none;
    @include responsive(max, 1010) {
      display: block;
    }
  }
}

.navbar-responsive {
  .btns_container {
    display: flex;
    align-items: center;
    gap: 12px;
    .btn_login {
      border: 1px solid #edeef0;
      padding: 8px 16px;
      font-size: 16px;
      font-weight: 400;
      line-height: 24px;
      color: #31373d;
    }
    .btn_start {
      background-color: #ce3178;
      border: 1px solid #ce31783d;
      padding: 8px 16px;
      color: white;
      font-size: 16px;
      font-weight: 400;
      line-height: 24px;
    }
  }
}
